* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
}

.btn-restart {
    padding: .5rem 3rem;
    margin-left: 1rem;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 1rem;
}

.btn-restart:hover {
    background-color: #cecccc;
}

body {
    background-image: url(img/background.png);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    margin: 250px 550px 10px 565px;
}

div:has(button) {
    margin: 0 auto;
}

.turn {
    margin: auto;
    font-size: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 2px;
}

.cell {
    font-size: 7rem;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    margin: auto 50px auto 50px;
}